@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* background-image: url("/img/leaves.png"); */
}

.gradient {
  @apply bg-gradient-to-r from-primary-500 to-primary-900;
}

/* animate marquee */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 25s linear infinite;
  animation-play-state: running; /* Set the initial state to running */
}

.animate-marquee.paused {
  animation-play-state: paused; /* Set the state to paused */
}

/* animate up */
@keyframes up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-200%);
  }
}

.animate-up {
  animation: up 5s linear infinite;
}

/* animation for navbar  */
.animate_navbar {
  -webkit-animation: slide-uptobottom 0.5s linear (0.25, 0.46, 0.45, 0.94) both;
  animation: slide-uptobottom 0.5s linear (0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-uptobottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-uptobottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* animation for mobile navbar */
.sidebar_left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
